.closebutton {
	width: 40px;
	height: 20px;
	background-color: red

}
.desktopApps {
	padding: 64px; 
}
.desktopApps img {
	width: 128px; 
	height: 64px; 
	border-radius: 10000px;
}
.desktopApps p {
	margin: 0px; 
	color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
	width: 180px; 
	height: 64px; 
	border-radius: 1000px;
	filter: drop-shadow(0 0 8px black); 
    width: fit-content"
}
.window {
	border: thick double; 
    width: 800px; 
    border-radius: 8px; 
    padding: 0px;
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(255,255,255,0.9);
}
.windowheader {
	align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.125);
    margin-right: 8px;
    display: flex;
    margin-top: -7px;
    padding: 6px;
    width: 100%;
    font-weight: 700;
}
.homepage_style {
	display: flex; 
    justify-content: space-evenly; 
    position: absolute; width: 100%; 
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.125);
    color: #fff;
}